body {
    padding: 20px;
    background-color:rgb(164,140,180)
  }
  
.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(78,27,99,.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.form-control {
    margin-bottom: 10px;
}

.btn{
    background-color: rgb(78,27,99); 
    color:  #b64179; 
}

