h2 {
    color: rgb(42, 42, 226)0ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
  background-color: rgb(78,27,99); 
}

a {
  color:coral ; 
  text-decoration: none;
}

.logo {
    border-radius:50% ;
    width: 4em;
    height: 4em;
}

ul>li {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #FF5733  ;
    border-radius: 1%;
}

body {
  background-color:  #fff3b0;
  color: #d90429;
}

.card {  
    /* background-color: #FF5733; */
    background-color:  #fff3b0;
    position: relative; 
    overflow: hidden; 
    border-radius: 1px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

  .poster {
    height: auto;
    border-radius: 5px; 
    transition: filter 0.3s;
  }

  .card:hover .poster {
    filter: blur(5px);
  }

  .card-description {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s; 
  }

  .card:hover .card-description {
    opacity: 1; 
  }

  .card-title {
    font-size: 16px;
    margin-bottom: 10px; 
    text-align: left; 
  }

  .card-rating {
    font-size: 14px;
    margin-top: auto; 
    text-align: center; 
  }

  .card-text {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .card-text:last-child {
    margin-bottom: 0;
  }


  @media only screen and (max-width: 960px) {
      h2 {
        color: rgb(42, 42, 226)0ff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center; 
    }
  }